USE [master]
GO
/****** Object:  Database [BankSimulation]    Script Date: 1.12.2024 20:34:46 ******/
CREATE DATABASE [BankSimulation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BankSimulation', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BankSimulation.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BankSimulation_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BankSimulation_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BankSimulation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BankSimulation]
GO
/****** Object:  Table [dbo].[Tbl_Account]    Script Date: 1.12.2024 20:34:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Account](
	[AccountNumber] [char](6) NULL,
	[Balance] [decimal](18, 3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Customer]    Script Date: 1.12.2024 20:34:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Customer](
	[NO] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NULL,
	[Surname] [varchar](30) NULL,
	[ID] [char](11) NULL,
	[PhoneNumber] [varchar](15) NULL,
	[AccountNumber] [char](6) NULL,
	[Password] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Transaction]    Script Date: 1.12.2024 20:34:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Transaction](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Sender] [char](6) NULL,
	[Receiver] [char](6) NULL,
	[Amount] [decimal](18, 3) NULL
) ON [PRIMARY]
GO
USE [master]
GO
